header{
    background: #f9e45b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
}

a{
    font-size: 22px;
    color: #fafafa;
    line-height: 51px;
    height: 51px;
    text-decoration: none;
    padding: 0 10px;
}

a:hover{
    color: #1b4d89;
}




